.job-search-page-component .jumbotron {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.job-search-page-component > .jumbotron {
  background: url('/static/images/jumbotron-bg.jpg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.job-search-page-component .jumbotron #site-logo {
  max-height: 6em;
  vertical-align: middle;
}

.job-search-page-component .jumbotron .title {
  font-size: 4em;
  margin-left: .4em;
  text-shadow: 1px 5px 5px black;
}

.job-search-page-component .jumbotron .top-rhs-menu .pure-menu-link {
  text-shadow: 1px 1px 1px #000;
  background-color: rgba(30, 30, 30, 0.8);
  border-radius: .25em;
  color: white;
}

/***********************/
/* For logged in users */
/***********************/

section#app.logged-in .job-search-page-component > .jumbotron {
  display: flex;
}

section#app.logged-in .jobs-search-page-component .jumbotron {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  flex-direction: columns;
}

section#app.logged-in .job-search-page-component .jumbotron-title-container { flex-basis: 30%; }
section#app.logged-in .job-search-page-component .jumbotron-search-container {
  flex-basis: 70%;
  flex-grow: 1;
}

/* section#app.logged-in .job-search-page-component .jumbotron-title-container { */
/*   display: none; */
/* } */
