<section class="mailing-list-confirmation-page-component flex contents-centered wrapped columns">
  <div id="inner-container" class="pure-u-1 pure-u-sm-3-4 pure-u-md-4-5 pure-u-lg-3-5">

    <div class="sm-pad">

      <!-- ACTION: Confirm subscription -->
      <div v-if="action === actions.CONFIRM_SUBSCRIPTION">
        <h1 class="title centered-text slim-text valign-mid">
          <img id="logo" class="valign-mid sm-max-height" src="/static/images/logo/logo.png"></img>
          Confirm subscription
        </h1>

        <alert-listing :alerts="alerts" :maxAlertCount=1></alert-listing>

        <p>Please confirm that you'd like to be added to the {{ appSvc.state.appDomain }} mailing list</p>
        <p>You'll receive emails about the latest job opportunities (including sponsored opportunities) in Tokyo filtered by the tags you've provided (if any).</p>

        <async-button class="pure-button button-success button-xlarge sm-margin-top"
                      width="15em"
                      loadingText="Confirming Subscription..."
                      successText="Subscription Confirmed!"
                      errorText="Failed to Confirm Subscription"
                      @click="confirmSubscription">
          <i class="fa fa-envelope"></i>
          <i class="fa fa-check"></i>&nbsp
          <span>Confirm Subscription</span>
        </async-button>

      </div>

      <!-- ACTION: Unsubscribe -->
      <div v-if="action === actions.UNSUBSCRIBE">
        <h1 class="title centered-text slim-text valign-mid">
          <img id="logo" class="valign-mid sm-max-height" src="/static/images/logo/logo.png"></img>
          Unsubscribe
        </h1>

        <alert-listing :alerts="alerts" :maxAlertCount=1></alert-listing>

        <p>Please confirm that you'd like to unsubscribe from the {{ appSvc.state.appDomain }} mailing list.</p>
        <p><strong>NOTE:</strong> Once unsubscribing is complete you will receive no more job-related emails from {{ appSvc.state.appDomain }}.</p>

        <async-button class="pure-button button-error button-xlarge sm-margin-top"
                      width="15em"
                      loadingText="Unsubscribing..."
                      successText="Unsubscribed!"
                      errorText="Failed to Unsubscribe"
                      @click="unsubscribe">
          <i class="fa fa-envelope"></i>
          <i class="fa fa-times"></i>&nbsp
          <span>Unsubscribe</span>
        </async-button>

      </div>

    </div> <!-- /.sm-pad -->
  </div>  <!-- /#inner-container -->
</section>
