.user-role-select-component .role-option {
  border-color: inherit;
  border: .5em dashed #285269;
  opacity: 0.3;
  transition: opacity 0.3s;
}

.user-role-select-component .role-option.selected {
  border-color: #E2C20F; /* turqoise */
  background-color: #285269; /* gold */
  color: white;
  opacity: 1;
}
